/logs
/target
/.github
/.vscode
/scripts
/uptime-kuma-data
/images
/backups
.env.example
.gitattributes
.gitignore
.markdownlint.json
.pre-commit-config.yaml
.goreleaser.yaml
protein.bat
README.md
rustfmt.toml
yamlfmt.yml
