# PostgreSQL
DATABASE_URL=

# Sentry
ROCKET_SENTRY_DSN=

# Redis
REDIS_URI=

# Authentication
HOST_URL=
MASTER_API_KEY=
PASSWORD_SALT=

# Email Configuration
SMTP_USER=Hypertrophy
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SERVER=smtp.gmail.com

# Discord
DISCORD_WEBHOOK_URL=

# App Configuration
APP_ENV=development
